body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
.weather-wrapper {
  background: whitesmoke;
  margin: auto 50px;
  max-width: 600px;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

.search-form-box {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 15px;
}

.search-form-button {
  background-color: #48d1cc;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  color: whitesmoke;
  margin-left: 5px;
  font-size: 15px;
}
